<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/poto.png" alt="fuad" class="img-thumbnail rounded-pill" width="200">
            <h1 class="display-4">Fuad Jabbar Dzakwan</h1>
            <p class="lead">Mahasiswa | Programmer</p>
        </div>
    </div>
</div>
   
    